body{
	color: black;
	font-family: Arial, Helvetica, -serif;
	font-size: 18px;
	background-color: #f1f1f1; 
	box-shadow: 0 0 8px 3px black;
	margin: 0;
}

* {
	box-sizing: border-box;
}

/*------------------------- header -----------------------*/
#header{
	height: 110px;
	background: #203346;
	color: white;
}
.header .logo{
	float: left;
}
.header .logo h4{
	margin-top: 0;
	opacity: 0.8;
}
.logo img{
	height: 80px;
	width: 80px;
	margin-top: 5px;
	margin-left: 40px;
}
.header .header_title{
	padding-top: 1px;
}
.header .header_title h2{
	opacity: 1;
	margin-top: 15px;
}
.header .header_title h2, h4{
	margin-bottom: 0;
}
.header .header_title h4,h6{
	opacity: 0.8;
	margin-top: 4px;
}
.header .header_title h2,h4,h6{
	text-align: center;
}

/*-------------------------- home ------------------------*/
#content{
	background: #fff;
	min-height: 460px;
	color: black;
}
#footer {
	background:#368a88;
	height: 50px;
}
#footer p{
	color: white;
	margin: 0;
	padding-top: 15px;
	text-align: center;
	font-size: 18px;
}
#tambah #taskbar{
	float: left;
}
#tambah #content{
	margin-left: 210px;
}

/*----------------------Bagian Menu---------------------*/ 
.menu {
	height: 37px;
	background-color: #368a88;
	padding-bottom: 0px;
}
.menu ul{
	margin: 0;
	padding: 0;
	display: flex;
	float: left;
	list-style: none;
}
.menu ul li a{
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-size: 18px;
	background: #368a88;
	color: white;
}
.menu ul li a:hover{
	background: #364a88;
	color: white;
}
.box{
	margin-left: 20px;
	padding-top: 20px;
}
.box .jurusan{
	height: 150px;
	width: 170px;
	margin: 8px;
	float: left;
	position: relative;
}
.box .jurusan a img{
	height: 110px;
	width: 170px;
	border: 3px solid gray;
}
.box .jurusan .text{
	background-color: black;
	height: 50px;
	width: 100%;
	padding: 15px;
	margin-top: -50px;
	opacity: 0.3;
	position: relative;
	text-decoration: none;
}
.box .jurusan .h4{
	position: absolute;
	text-decoration: none;
	color: white;
	width: 100%;
	margin-top: -60px;
	text-align: center;
	opacity: 0.9;
}

/*------ Petugas ------*/
.petugas{
	text-align: center;
	padding-top: 1px;
}
.petugas form a{
	display: inline;
	background-color: #368a88;
	color: white;
	padding: 6px;
	text-decoration: none;
	margin-left: 10px;
	font-size: 14px;
	border: 1px solid black;
}
.petugas table{
	border-collapse: collapse;
	text-align: center;
}
table th, td{
	padding: 6px;
}
.petugas .aksi{
	background-color: #368a88;
	color: white;
	padding: 2px 8px;
	text-decoration: none;
}

/*----- Ruang -----*/
.ruang{
	padding-top: 1px; 
}
.ruang form a{
	background-color: #368a88;
	color: white;
	text-decoration: none;
	padding: 4px 8px;
	margin-left: 10px;
	border: 1px solid black;
	font-size: 16px;
}
.ruang table{
	border-collapse: collapse;
	text-align: center;
}
.ruang .a{
	background-color: #368a88;
	color: white;
	padding: 2px 8px;
	text-decoration: none;
}
/*------------------------ taskbar ----------------------*/
.taskbar{
	background-color: #f1f1f1;
	width: 210px;
	height: 460px;
	padding: 10px 0px;
}
.taskbar .profil img{
	width: 80px;
	height: 80px;
	margin-left: 65px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.taskbar ul {
	padding: 0;
	margin:0;
	opacity: 0.5;
}
.taskbar ul a{
	text-decoration: none;
	text-align: center;
}
.taskbar ul a li{
	list-style: none;
	width: 150px;
	margin: 5px 30px;
	padding: 5px 20px;
	background-color: white;
	color: black;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	opacity: 0.9;
}

/*------------------------ CRUD -------------------------*/
.crud_pet{
	background-color: white;
	width: 500px;
	height: auto;
	padding-left: 70px;
	padding-top: 20px;
	margin-top: 160px;
	margin-left: 440px;
	box-shadow: 0 0 8px 3px black;
}
.crud_pet .sub input{
	background-color: #368a88;
	color: white;
	padding: 6px;
	margin-bottom: 30px;
}
.inventaris{
	background-color: white;
	width: 540px;
	height: 550px;
	padding-left: 95px;
	padding-top: 45px;
	margin-top: 50px;
	margin-left: 430px;
	box-shadow: 0 0 8px 3px black;
}
.inven_data table{
	border-collapse: collapse;
	margin-top: 15px;
	text-align: center;
}
.inven_data h2{
	color: #364a88;
}
.inven_data a{
	background-color: #364a88;
	color: white;
	text-decoration: none;
	padding: 4px 8px;
	margin-left: 10px;
	border: 1px solid black;
	font-size: 16px;
}
.inventaris h2{
	color: #368a88;
	font-weight: bold;
	margin-left: 50px;
}
.inventaris .sub input{
	background-color: #368a88;
	color: white;
	padding: 6px;
	margin-top: 20px;
}