body{
	color: white;
	font-family: Arial, Helvetica, -serif;
	background-color: #1D2951; 
	margin-left: 500px;
	margin-top: 80px;
	box-shadow: 0 0 8px 3px black;
}

* {
	box-sizing: border-box;
}

/*add padding to container*/
.container{
	padding: 16px;
	background-color: #203354;
	box-shadow: 0 0 8px 3px black;
}

/*full-width input fields*/
input[type=text], input[type=password]{
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	box-shadow: 0 0 5px 2px black;
}

input[type=text]:focus, input[type=password] :focus{
	background-color: #ddd;
	outline: none;
}

.p{
	margin-bottom: 30px;
	font-size: 12px;
}

a{
	color: #f1f1f1;
	text-decoration: none;
	font-size: 12px;
}



